<!--Name: MD.Shehab Chowdhury. -->
<!DOCTYPE html>
<head>
<title>Home</title>
</head>

<body>
<h1>Welcome</h1>
<p>Sabrima Abed Muna</p>
<p>16100105</p>
<p><a href="/page2"> click here to go Page2 </a> </p>
</body>



</html>
